<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
  <div class="flexo">
  
    <div class="divAboutUs">
        <h2>About Us</h2>
        <p><b>Supriya Krishnamurthi<br>Basaveshwara Kalapur</b><br><br>
        Web Technology Mini Project<br>
        Master of Technology<br>
        Computer Science and Engineering<br>
        <b>BMSCE Bangalore</b></p>
        
        <h2>Overview</h2>
        <p>The COVID-19 is a pandemic disease which has been spread all over the world and millions of people got infected by it.The World Health Organization (WHO)
            has declared the corona virus disease 2019 (COVID-19) a pandemic. A global coordinated effort is needed to stop the further spread of the virus.A pandemic
            is defined as “occurring over a wide geographic area and affecting an exceptionally high proportion of the population.” </p>
        <p>The project tries to guide the people who are looking for real time information about the pandemic.It monitors data regarding COVID-19 affected over the globe.
            The data contains how many people got infected, cured and deceased at country level.For better understanding andvisualization we plots the line graph for the 
            same data fetched.</p>

        <h2>Thank You</h2>
        <p>Keep supporting us.We appriciate it.</p>
    </div>

    <div class="divContact">
    <div>
    <section id="contact-form">
    <h2>Contact</h2>
        <form id="contact" name="contact" accept-charset="utf-8" (ngSubmit)="processForm()" #contactForm="ngForm">
            <div class="field"> 
                <input type="text" name="name" class="input" placeholder="Your Name" [(ngModel)]="name" required minlength="3" #nameInput="ngModel">
                <div class="name-is-error" *ngIf="nameInput.invalid && nameInput.touched">
                    Name is required and needs to be at least 3 characters long.
                </div>
            </div>
            <div class="field1">
                <input type="email" name="email" class="input" placeholder="Your Email" [(ngModel)]="email" required email #emailInput="ngModel">
                <div class="email-is-error" *ngIf="emailInput.dirty && emailInput.invalid">
                    Email is required and needs to be a valid email.
                </div>
            </div>
            <div class="field2">
                <textarea class="textarea" name="message" placeholder="What's on your mind?" [(ngModel)]="message" required #messageInput="ngModel"></textarea>
                <div class="message-is-error" *ngIf="messageInput.invalid && messageInput.touched">
                    message is required.
                </div>
            </div>
            <button type="submit"  value="Send" [disabled]="contactForm.invalid">Send</button>         
        </form>
    </section>
    </div>

    <div class="covidInfo"></div>
    </div>
    
</div>

