.banner{
    display: flex;
    justify-content: space-between;
    color:#375e5e;
    padding: 12px 24px;
    background-color: #91fcf6;
    /* background-image: url(https://i.pinimg.com/originals/3a/3b/7b/3a3b7b936e3ff87016de28ea865cbbb6.jpg); */
    /* background-image: url(https://cdn.shopify.com/s/files/1/1775/1671/files/covid_1662701254.jpg?v=1584020812); */
    background-image: url('src/bannerImg.jpg');
}

.banner .pageName{
    margin: 0;
    font-size: 20px;
    line-height:24px;
    font-size: x-large;
}

#home{
    color:floralwhite;
    text-decoration: none;
    float: right;
    margin-left: 75%;
}

#contact{
    color:floralwhite;
    float: right;
    margin-left: 2%;
    text-decoration: none;

}